@import '../../vendor/bootstrap/less/bootstrap.less';

// ----------------
// Import variables
// ----------------
@import 'variables.less';

// ----------
// Typography
// ----------
@import url('https://fonts.googleapis.com/css?family=Asap');
@import 'social-font.less';

// --------------
// Document setup
// --------------
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: @white;
  font-family: 'Asap', sans-serif;

  * {
    color: @white;
    margin: 0;
    padding: 0;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }
}

// ---------------------------
// Classes for text formatting
// ---------------------------
.text-center {
  text-align: center;
}

.text-black {
  color: @black;
  * {
    color: @black;
  }
}

.text-red {
  color: @red;
  * {
    color: @red;
  }
}

.line-through {
  text-decoration:line-through;
}

// --------------------------
// Classes for other elements
// --------------------------
.section-border {
  border-bottom: 2px dashed @pink;
  width: 80%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

// -----------------------
// Import extra LESS files
// -----------------------
@import '../app/home/home.less';
@import "../app/home/social-menu/social-menu.less";
@import "../app/home/title-bar/title-bar.less";
@import "../app/home/trailer/trailer.less";
@import "../app/home/features/features.less";
@import "../app/home/characters/characters.less";