.social-menu-container {
  position: absolute;
  top: 0;
  left: 16px;
  width: 160px;
  height: auto;
  background-color: @pink;
  z-index: 1;
  transition: top .6s ease-out;
  border-radius: 20px;
  padding-bottom: 20px;

  &.secret {
    top: -125px;
  }

  .row {
    margin: 0;
  }

  .text-container {
    width: 80%;
    margin: 10px auto;
    .text-center();

    .text {
      .text-center();
    }
  }

  .tail {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    
    border-top: 80px solid @pink;
  }
}

.logo-container {
  .logo {
    background-image: url(images/mr_alpaca/logo_white.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80%;
    height: 128px;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.social-buttons {
  width: 80%;
  margin: 0 auto !important;
  margin-top: 10px;
  .text-center();
}

.social-link {
  font-size: 1em;
  .text-center();
  text-decoration: none;

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &:last-child {
    .social-icon {
      margin-right: 0;
    }
  }

  .social-icon {
    font-size: 32px;
    text-decoration: none;
    margin-right: 10px;

    &:before {
      margin: 0;
      padding: 0;
    }
  }
}