.trailer-container {
  width: 100%;

  .trailer-container {
    .youtube-iframe {
      width: 100%;
      height: 500px;
      margin: 0 auto;
    }
  }

  .description-container {
    background-color: @pink;
    margin: 20px auto;
    border-radius: 20px;
    width: 80%;

    .description-text {
      padding: 20px;
    }
  }
}